__pycache__

.cache/
cache/
hostfile
old/
outputs/
venvs/
wandb/


dataset/*

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
*config.json
