__pycache__

.cache/
cache/
hostfile
old/
outputs/
venvs/
wandb/


dataset/*

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
*config.json

*.e0*
*.e1*
*.e2*
*.e3*
*.e4*
*.e5*
*.e6*
*.e7*
*.e8*
*.e9*
*.o0*
*.o1*
*.o2*
*.o3*
*.o4*
*.o5*
*.o6*
*.o7*
*.o8*
*.o9*
